*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    /* font-size: 1em;; */
    /* border:1px solid #fe1b07; */
}

/*main {
    display:flex;
    flex-direction: column;
    justify-items: center;
}*/

body {
    background-color: #f2d5a0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #f2d5a0;
    width:100%;
    top: 0px;
}
.header-left {
    display:flex;
    width:70%;
    align-items:center;
}
header img {
    float: left;
    max-height:70px;
    padding:10px;
}

header ul {
    display:flex;
    
}

header li{
    list-style: none;
    display:flex;
    padding: 5px;
    /* margin: 0 10px; */
    /* max-height: 1em; */
    width: auto;
    color:#f2d5a0;
    font-weight: 600;
    border: 2px solid #ffffff00;
    /*Possible transitions:*/
    /* text-decoration: overline;
    text-decoration-thickness: 0.2em;
    text-decoration-color: rgba(210, 44, 44,1);
    transition: all 300ms ease-out 0s; */

    transition: all 250ms ease-out 0s;
}

header li:hover {
    /*Possible transitions:
    text-decoration-color: rgba(255, 255, 255,1); */

    border: 2px solid #ffffff4b;
    border-radius: 0.5em;
    background-color: #f7e5c5;
}

header li a {
    text-decoration: none;
}
 header li a:visited {
    color: white;
    font-style: normal;
    /* text-decoration-color:rgba(255, 255, 255, 0.003); */
 }

h1 {
    color: #b67d6b;
    max-width: 750px;
    margin: 30px auto;
    font-weight:500;
}

p {
    text-align: center;
    padding:10px;
    font-weight: 350;
}

footer {
    justify-content: center;
}

hr {
    border:none;
    border-top:5px dotted #b67d6b;
    height:1px;
    width:100%;
  }

.banner {
    /* max-width:100%; */
    /* max-height: ; */
    height: 500px; 
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-image: url('../images/spiree-banner.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    color:white;
}
.banner-element {
    height: 200px;
    /* margin-top:50px; */
    /* height: auto; */
    max-width: 500px;
}
.banner-element h1{
    font-size: 5em;
    color:white;
    margin-bottom: 0;
}
.banner-element h2{
    font-weight: 300;
    margin-top: 0;
}

.chapter {
    max-width:1000px;
    margin: 30px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow:visible;
}

.box {
    max-width:1000px;
    /* flex:1 1 750px; */
    /* height: 30%; */
    margin: 50px auto;
    border: 5px solid #FFFFFF;
    background-color: #f7e5c5;
    display:flex;
    justify-content: center;
    /* overflow:scroll; */
    flex:auto;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.advantage {
    display:flex;
    flex-direction: column;
    /* justify-content:center; */
    /* align-items: baseline; */
    /* max-width: 180px; */
    margin: 5px;
    flex-basis:20%;
    flex:auto;
}

.advantage h2 {
    /* color:red; */
    font-size: 1em;;
    text-align: center;
    /* margin:15px auto; */
}
.advantage img {
    max-width:50%;
    height:auto; 
    margin:0 auto;

}
.advantage p {
    font-size: 0.8em;
    font-style: italic;
}

.histoire {
    max-width:1000px;
    display:flex;
    justify-content: space-between;
}

.histoire.title h1 {
    flex-basis: 375px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 3em;
    /* color:#0e86ff */
}

.histoire.text{
    flex-basis: 375px;
}
.histoire.text p{
    text-align: right;
}
.socials {
    margin: 20px;
}

#idioma {
    /* font-family: 'Raleway', cursive; */
    font-size: 2em;
    /* color: white; */
    /* font-style: italic; */
}

/* .left {
    float:left;
    clear: left;
}

.right {
    float:right;
    clear: right;
} */


@media only screen and (max-width: 1000px) {
    p {
        font-size: 12px;
    }

    header li {
        font-size: 0.8em;
    }

    hr {
        width: 80%
    }

    .banner-element {
        height: 200px;
        /* margin-top:50px; */
        /* height: auto; */
        max-width: 300px;
    }
    .banner-element h1{
        font-size: 3em;
        color:white;
    }
}