*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border:1px solid #fe1b07; */
    /* border-radius: 8px 8px 0px 0px; */

}

:root {
    /* --color-main-light: #f2d5a0; */
    /* --color-box-light:#f7e5c5;
    /* --color-accent: #b67d6b; */
    /* --color-box-border:white; */
    /* --color-box-title: #b67d6b */
    /* --color-shadow: rgba(0, 0, 0, 0.2); */

    --color-main-light:#faa788;
    --color-box-light:#d8f1ff;
    --color-box-border:rgb(191, 125, 105);
    --color-accent: #fff;
    --color-box-title:#b67d6b;
    --color-shadow: #00000023;

}

html {
    /* Good to define. */
    font-size: 14px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;  
  }

/*main {
    display:flex;
    flex-direction: column;
    justify-items: center;
}*/

body {
    background-color: var(--color-main-light);
    /* display:flex; */
    /* width: 100%; */
    /* align-items: center;
    justify-content: center; 
    font-family: 'Helvetica', 'sans-serif';
    font-size: 1.6rem;
    color: #333;
    display: flex; 
    margin-top:20px;
    margin-bottom:10px; */

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: var(--color-main-light);
    width:100%;
    top: 0px;
    /* max-height:60px; */
    z-index: 10;
    overflow:hidden;
}
.header-left {
    display:flex;
    /* flex:1; */
    /* width:70%; */
    align-items:center;
    justify-content: start;
    /* flex:1; */
}
header img {
    display: block;
    min-width: 0px;
    max-width: 30%;
    min-height: 0px;
    max-height: 60px;
    flex-shrink: 5;
    /* float: left; */
    /* max-height:70px; */
    padding:5px;
    /* flex:1; */
    /* margin-right: 10px; */
}
header ul {
    display:flex;
    justify-content: start;
    padding-left: 0px;
    /* margin-left: 10px; */
}
header li{
    display:flex;
    padding: 5px;
    margin: 0 5px;
    color: var(--color-main-light);
    font-weight: 600;
    border: 2px solid #ffffff00;
    inline-size: max-content;
    /*Possible transitions:*/
    /* text-decoration: overline;
    text-decoration-thickness: 0.2em;
    text-decoration-color: rgba(210, 44, 44,1);
    transition: all 300ms ease-out 0s; */
    transition: all 250ms ease-out 0s;
}
header li:hover {
    /*Possible transitions:
    text-decoration-color: rgba(255, 255, 255,1); */
    border: 2px solid #ffffff4b;
    border-radius: 0.5em;
    background-color: var(--color-box-light);
    color: var(--color-box-title);
}
header li a {
    color: var(--color-accent);
    /* text-decoration: none; */
}
header li a:visited {
    color: white;
    font-style: normal;
    /* text-decoration-color:rgba(255, 255, 255, 0.003); */
 }

h1 {
    color: var(--color-accent);
    max-width: 750px;
    margin: 20px auto;
    font-weight:500;
    font-size: 2rem;
    text-align: center;
}

p {
    text-align: center;
    padding:10px;
    font-weight: 350;
}

footer {
    justify-content: center;
}

hr {
    border:none;
    border-top:5px dotted var(--color-accent);
    height:1px;
    width:100%;
  }

.banner {
    height: 400px ;
    /* height: 500px;  */
    position:relative;
    /* top:50px; */
    /* margin-top: 0px; */
    /* max-width:auto; */
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-image: url('../images/spiree-banner.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    color:white;
}
.banner-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: auto;
    /* margin-top:50px; */
    /* height: auto; */
    max-width: 30%;
}
.banner-element h1{
    font-size: 5em;
    color:white;
    margin-bottom: 0;
    margin-left: 30px;
    /* text-align: start; */
}
.banner-element h2{
    font-weight: 300;
    margin-top: 0;
    margin-left: 30px;

}
.banner img{
    display:block;
    max-width: 100%;
    flex:1 2;
    /* max-width: 25%; */
}

.chapter {
    max-width:1000px;
    margin: 30px auto;
    padding: 0 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow:visible;
    scroll-margin-top: 60px;
}

.box {
    /* max-width:1000px; */
    /* flex:1 1 750px; */
    /* height: 30%; */
    margin: 30px auto;
    border: 5px solid var(--color-box-border);
    background-color: var(--color-box-light);
    display:flex;
    justify-content: center;
    /* overflow:hidden; */
    flex:auto;
    transition:box-shadow 200ms ease-out, transform 200ms ease-out;
}

.box:hover {
    box-shadow: 0 4px 8px 0 var(--color-shadow), 0 6px 20px 0 var(--color-shadow);
    transform:scale(1.01) ;
}

.advantage {
    /* display:grid; */
    /* grid-template-rows: 20% 2em auto;  */
    /* row-gap: 10px; */
    /* align-items: center; */
    /* align-content:center; */
    /* justify-content:center; */
    /* width: 19%; */

    margin: 5px;
    
    display:flex;
    flex-basis:19%;
    flex:auto;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    /* justify-content:center; */
}

.advantage h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:100%; */
    /* color:red; */
    font-size: calc(0.7rem + 0.5vw);
    color:var(--color-box-title);
    text-align: center;
    margin:5px;
}
.advantage img {
    display: flex;
    justify-self: center;
    align-self: center;
    max-width:50%;
    max-height:auto; 
    margin:0 auto;
}
.advantage p {
    font-size: 0.8rem;
    font-style: italic;
    min-width: 7em;
    max-width: 100%;
}

.advantage hr{
    width:15px;
}

.histoire {
    max-width:1000px;
    display:flex;
    justify-content: space-between;
}

.histoire.title h1 {
    flex-basis: 375px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 3em;
    /* color:#0e86ff */
}

.histoire.text{
    flex-basis: 375px;
}
.histoire.text p{
    text-align: right;
}
.socials {
    margin: 20px;
}

#idioma {
    font-size: 1.2em;
    font-style: italic;
    font-weight: lighter;
    color: var(--color-accent);
}

#stay-in-touch:hover {
    cursor:pointer;
}


@media only screen and (max-width: 1000px) {
    p {
        font-size: 12px;
    }

    /* .header img {
        padding:0px;
    } */
    header li {
        font-size: 0.8em;
    }

    /* hr {
        text-align: center;
        width: 80%
    } */

    .banner {
        height: 300px ;
    }
    .banner-element h1{
        font-size: 3rem;
    }
    .banner-element h2{
        font-size: 1rem;

    }

    /* .advantage p{
        font-size: 0.6rem;
    } */

}

@media only screen and (max-width: 600px) {
    *{
        font-size: 10px;
    }
    /* .header img {
        padding:0px;
    } */
    header li {
        font-size: 0.8em;
    }

    /* hr {
        text-align: center;
        width: 80%
    } */

    .banner {
        height: 200px ;
    }

    .banner-element h1{
        font-size: 3rem;
    }
    /* .advantage-container {
        flex-direction: column;
        align-items:center;
        flex-wrap:wrap;
        width: 100%;
    }
    .advantage {
        width: 30%;
    }
    .advantage p {
        font-size: 1rem;
    }
    .advantage h2{
        font-size: 2rem;

    }
    .advantage img{

    } */
}